 :root
{
    --accent-color:   #212121;
    --primary-font:Roboto,sans-serif;
    --secondary-font:Raleway, sans-serif;
    --secondary-text-color-theme-light: #2196F3;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-light:#757575;
                                        
}

.link
{
    text-decoration: none;
}
 .link-port 
 {
    text-decoration: none;
 }

 .list
 { 
  list-style:none;
 }
  .list-port
{ 
  list-style: none;
}
.img
{
    display: block;
}


.logo
{ 
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
    margin-right:93px;
    display: flex;
    align-items:center;
     color: var(--accent-color);
  }
.logo-w 
{ 
  font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  color: #FFFFFF;}
  .accent-logo
  { font-family:Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19
        letter-spacing 0,03em;
       
    color:   #2196F3;
  }

    .h1,h2,h3,h4,p
    {
        font-family: Roboto, sans-serif; 
        margin-top: 0;
        margin-bottom: 0;
     }

.ul
     { 
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
     }
 .container 
     {    
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px; 
      }
  .section 
      { 
        padding-top: 94px;
         padding-bottom: 94px;
      }
/* ============components=========== */


   
.page-header
  { 
    background: #FFFFFF;
  }

.page-header-container 
  {
  display: flex; 
  align-items: center;
  }

.page-nav 
{ 
  display:flex;
  align-items: center;
  justify-content:space-between;
}



.menu 
{ 
  display: flex;
  align-items:center;
}
.menu .menu-item
{
  margin-right: 50px;
}

.menu .menu-item +.menu-item
{
  margin: right 0;
}

.contakt 
{
  display: flex;
  align-items: center;
  margin-left: auto;
}

 .item-contakt
  {
  margin-right: 50px;
  }

     
    /* ============heder==================    */
  
    .body
    {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    
       .button { cursor: pointer;}
    




    .solutions-page
 {  
  text-align: center;
   padding-top:  200px;
   padding-bottom:200px;
   background-color:  #2F303A;
   }
    
  .title-main 
  {
    font-family: 'Roboto';
     font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
   }   
    
    
.team-liter 
{
  font-weight: 700;
  
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
    
    
     .do 
  {
      display: flex; 
      text-align: center;
      gap: 30px
  }

    .modal-open-btn

    {
   font-family: Roboto, sans-serif;  
       font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    width: 216px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: #FFFFFF; background: #2196F3;
     }
     .modal-open-btn:hover,
     .modal-open-btn:focus {  
    
    color: var(--accent-color)
    }
   

    .filtr 
    {
      display: flex; 
      text-align: center;
      gap: 8px;
      padding-left: 254px;
    }



 .modal-open
 {  
font-family:Roboto, Raleway, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;

color: #212121;
 background: #F5F4FA;
  }

     .modal-open:hover,
     .modal-open:focus   
  {  
        color: #FFFFFF;
        background: #2196F3;

}
   
.modal-open 
{
  width:112px;
height:38px;
background: #F5F4FA;
border-radius: 4px;
}




.page-benefits
{
  display: flex;
  gap: 30px;
  height: 98px;

padding-left:15px;

}
.item-page-benefits 
{
  display: flexbox;
   width: 270px; 
   height: 48;
}


.note-benefits
 { 
    font-weight: 400;
    font-size: 14px;
    line-height:1.7;
   color: #757575;
  margin-top:10px;
}


 

  .team
{  display: flex;
   text-align: center;
  gap: 30px;
 
  background: #F5F4FA;
}



  
    .team-name
     { 
       font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
   

    padding-top: 30px;
    text-align: center;
    letter-spacing: 0.03em;
   color: #212121;

   background: #FFFFFF;
  }
  
    
.team-speciality
{   
   padding-top: 10px;
    text-align: center;
    letter-spacing: 0.03em;
     color: #757575;
    width: 270px;
    padding: 18px;
    background: #FFFFFF;
  }



 .menu-link
 { 
    font-family:Roboto, Raleway, sans-serif;
     color:var(--accent-color);
}

  .contakt-email
  {padding-top:  135px;
    padding-bottom: 16px;
    color: #2196F3;
   }
   .contakt-email:hover,:focus
   
   { 
    color: var(--accent-color)
  }


  .contakt-stil
  {  padding-top:  45px;
    padding-bottom: 16px;
   color: #2196F3;
  }
  
  .contakt-stil:hover,:focus
   { 
    color: var(--accent-color)
  }

  .contakt-phone-number
   {
    color: #757575;
  }
   /* =======footer============   */
     
    .fut-list 
  {
    font-style: normal;   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
   color: #FFFFFF; 
  }
   .page-fut 
  { 
    align-content: center;    
  background-color: #2F303A;
  }

    .tel-port 
    {
      font-size: 14px;
        line-height:1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }
   
   
   /* Портфоліо */

   

   
   .container
   { 
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      
    }
       
       
        


       .flex-container 
        {
      display: flex; 
      flex-wrap:wrap;
      gap: 30px;
        }  
        


  
        
  .card-bottom
   {
    display: block;
    max-width: 100%;
    height: auto;
   }

.flex-element
{ 
  width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.card-name
 {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: #212121;
padding-top: 20px;
}

.card-speciality
{

font-weight: 400;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.03em;

color: #757575;
  padding-top: 4px;
padding-bottom: 20px;
}

.container-portfolio
{
  width: 1529,80px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}