 :root
{
    --accent-color:   #212121;
    --primary-font:Roboto,sans-serif;
    --secondary-font:Raleway, sans-serif;
    --primary-text-color-theme-light: #2196F3;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-light:#757575;
    --secondary-background-color-theme-light:#F5F4FA; 
    --secondary-background-btn-color-theme-light:#188CE8;
}

.link
{
 text-decoration: none
   
}
 

.studio-list.link-port
{
 padding: 24px 0;

}
studio-list
{
margin-right: 93px;
}
 .link-port 
 {   display: block;
    text-decoration: none;
    padding: 32px 0;
    margin: 0;
 }
 
 .list
 { 
  list-style:none;
  padding: 0;
 margin: 0;
 

 }
  .list-port
{ 
  list-style: none;
  padding: 0;

  margin: 0;

}
img
{
    display: block;
    max-width: 100%;
    height: auto;
}


.logo
{ 
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
   
    display: flex;
    align-items:center;
    
     color: var(--accent-color);
  }
.logo-w 
{ font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
 color:var(--primary-text-color-theme-dark);}

  .accent-logo

  { font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   
       
    color:  var(--primary-text-color-theme-light);
  }

    h1,h2,h3,h4,p
    {
        
        margin-top: 0;
        margin-bottom: 0;
     }


.ul,    
.li{ 
        margin-top: 0px;
        margin-bottom:0px;
        padding-left: 0px;
        padding-right: 0px;
        
     }
 .container 
     {    
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px; 
      }
  .section 
      { 
        padding-top: 94px;
         padding-bottom: 94px;
      }
/* ============components=========== */



.page-header
  {
    background: var(--primary-text-color-theme-dark);
  }

.page-header-container 
  {
  display: flex; 
  align-items: center;
  }

.page-nav 
{ 
  display:flex;
  align-items: center;
  justify-content:space-between;
}



.menu 
{ 
  display: flex;
  align-items:center;
  gap: 50px;
}


.contakt 
{
  display: flex;gap: 50px;
  align-items: center;
  margin-left: auto;
}



     
    /* ============heder==================    */
  
    body
    {
        font-family: Roboto, sans-serif;
  
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding: 0;
    }
    
       .button { cursor: pointer;}
    




    .solutions-page
 {  
  text-align: center;
   padding-top:  200px;
   padding-bottom:200px;
   background-color:  #2F303A;
   }
    
  .title-main 
  {
   
  text-transform: uppercase;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    color:var(--primary-text-color-theme-dark);
    
    
   }   
    
 
.do-it
{
  padding-top:0;
 
}

    
     .do 
  {
      display: flex; 
      text-align: center;
      gap: 30px;
      

  }

    .modal-open-btn

    {
   font-family: Roboto, sans-serif;  
       font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    width: 216px;
    border: navajowhite;
    letter-spacing: 0.06em;
    height: 50px;

    color:var(--primary-text-color-theme-dark); 
    background:var(--primary-text-color-theme-light);
   
    border-radius: 4px;
     
     }
     .modal-open-btn:hover,
     .modal-open-btn:focus
      {  
    
    color:var(--primary-text-color-theme-dark) ;
    background:var(--secondary-background-btn-color-theme-light);
    }
  

    .filter 
    {
      display: flex; 
      text-align: center;
      gap: 8px;
    justify-content: center;

      margin-bottom: 50px;  
    }
 
button{
  border: none;
}


 .filter-list 
 {  
 
font-family:inherit; 
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;
padding:6px 22px;
color:var(--accent-color);
 background:var(secondary-background-color-theme-light);
 border-radius: 4px;
}
.filter-list:hover,
.filter-list:focus
  { 
   
    /* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

        color:var(--primary-text-color-theme-dark);
        background:var(--primary-text-color-theme-light); 
}

  .button {
   border-width: 0px;
   }

    


.page-benefits
{
  display: flex;
  align-content: center;
  gap: 30px;

}

.item-page-benefits 
{
 

   width: 270px;
  
}
.title-benefits
 {
  text-transform: uppercase;
 font-weight: 700;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
}

.note-benefits
 { margin-top:10px; 
 
    font-weight: 400;
    font-size: 14px;
    line-height:1.7;
   color:var(--secondary-text-color-theme-light);
  
}


.team-section 
{
  background: var(--secondary-background-color-theme-light);
}

  .team
{  display: flex;
   text-align: center;
  gap: 30px;
}


.item-team
{
  
  background: var(--primary-text-color-theme-dark);
}
   
.team-liter 
{

  font-size: 36px;
  line-height:1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  
  color:var(--accent-color)

}       

    .team-name
     { 
       font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
   

  
    text-align: center;
    letter-spacing: 0.03em;
   color:var(--accent-color);
   
   background:var(--primary-text-color-theme-dark);
  }
 .menu{margin-left: 93px;} 
    
.team-speciality
{   
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
     margin-top:  10px;
      color:var(--secondary-text-color-theme-light);
  }



 .menu-link
 {       font-weight: 500;
    font-family:Roboto,sans-serif;
     color:var(--accent-color);
}
.menu-link:hover,
.menu-link:focus
{

 color:var(--primary-text-color-theme-light);
}



  .contakt-email
  {font-weight: 500;
    color: var(--secondary-text-color-theme-light);
   }
   .contakt-email:hover,
   .contakt-email:focus
   {
   
    color:var(--primary-text-color-theme-light);
   }


  .contakt-stil
  { 
   color:var(--accent-color);
  }
  
  .contakt-stil:hover,
  .contakt-stil:focus
   { 
    color: var(--primary-text-color-theme-light)
  }

  .contakt-phone-number
   {
    color:var(--secondary-text-color-theme-light);
  }
   /* =======footer============   */
    
    .foot-list 
  {
    font-style: normal;   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
   
  
   color:var(--primary-text-color-theme-dark); 
  }
   .foot 

  {  padding-top: 60px;
    padding-bottom:60px;
    align-content: center;    
  background-color: #2F303A;
  
  }
  address
  {
 margin-top:20px;
  }



  .log-name
  {  
  display: flex;gap: 9px;
  flex-direction: column;
  }
  

    .tel-port
    {
      font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
     

    }
   
   
   /* Портфоліо */

   
   .box 
   {
  height:   80px;
border-bottom:1px solid#ECECEC; 
 


}


       .flex-container 
        { 
      display: flex; 
      flex-wrap:wrap;
    align-content: center;    
    gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
    
    }  
        


  
  
.flex-element
{ 
  width: 370px;



}
.flex-element:focus
{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-name
 {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--accent-color);
margin-top: 0px ;
margin-bottom: 4px;}

.card-speciality
{

font-weight: 400;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.03em;

color:var(--secondary-text-color-theme-light);
 margin-top: 4px ;
}

.port-card-bottom 
{
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
border-top: none;
}



.card-bottom

{
 padding: 30px;

 background: #FFFFFF;
 /* material shadow v1 */
 
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
 }

a{text-decoration: none;}