 :root
{
    --accent-color:   #212121;
    --primary-font:Roboto,sans-serif;
    --secondary-font:Raleway, sans-serif;
    --primary-text-color-theme-light: #2196F3;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-light:#757575;
    --secondary-background-color-theme-light:#F5F4FA; 
}

.link
{
    text-decoration: none
    padding 0;
    margin: 0;
}
 .link-port 
 {
    text-decoration: none;
    padding: 0;
    margin: 0;
 }
 
 .list
 { 
  list-style:none;
  padding: 0;
 margin: 0;
 

 }
  .list-port
{ 
  list-style: none;
  padding: 0;

  margin: 0;

}
img
{
    display: block;
    max-width: 100%;
    height: auto;
}


.logo
{ 
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
    margin-right:93px;
    display: flex;
    align-items:center;
     color: var(--accent-color);
  }
.logo-w 
{ font-family: 'Raleway';sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
 color:var(--primary-text-color-theme-dark);}

  .accent-logo

  { font-family: 'Raleway';sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   
       
    color:  var(--primary-text-color-theme-light);
  }

    h1,h2,h3,h4,p
    {
        
        margin-top: 0;
        margin-bottom: 0;
     }


.ul,    
.li{ 
        margin-top: 0px;
        margin-bottom:0px;
        padding-left: 0px;
        padding-right: 0px;
        
     }
 .container 
     {    
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px; 
      }
  .section 
      { 
        padding-top: 94px;
         padding-bottom: 94px;
      }
/* ============components=========== */


   
.page-header
  { padding-top: 24px;
    padding-bottom: 25px;
    background: var(--primary-text-color-theme-dark);
  }

.page-header-container 
  {
  display: flex; 
  align-items: center;
  }

.page-nav 
{ 
  display:flex;
  align-items: center;
  justify-content:space-between;
}



.menu 
{ 
  display: flex;
  align-items:center;
  gap: 50px;
}


.contakt 
{
  display: flex;gap: 50px;
  align-items: center;
  margin-left: auto;
}



     
    /* ============heder==================    */
  
    body
    {
        font-family: Roboto, sans-serif;
  
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding: 0;
    }
    
       .button { cursor: pointer;}
    




    .solutions-page
 {  
  text-align: center;
   padding-top:  200px;
   padding-bottom:200px;
   background-color:  #2F303A;
   }
    
  .title-main 
  {
   
  text-transform: uppercase;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    color:var(--primary-text-color-theme-dark);
    
    
   }   
    
 
.do-it
{
  padding-top:0;
 
}

    
     .do 
  {
      display: flex; 
      text-align: center;
      gap: 30px;
      

  }

    .modal-open-btn

    {
   font-family: Roboto, sans-serif;  
       font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    width: 216px;
    border: navajowhite;
    letter-spacing: 0.06em;
    height: 50px;

    color:var(--primary-text-color-theme-dark); 
    background:var(--primary-text-color-theme-light);
   
    border-radius: 4px;
     
     }
     .modal-open-btn:hover,
     .modal-open-btn:focus {  
    
    color:var(--primary-text-color-theme-dark) ;
    background:var(--primary-text-color-theme-light);
    }
  

    .filtr 
    {
      display: flex; 
      text-align: center;
      gap: 8px;
      padding-left: 254px;
      margin-bottom: 50px;  
    }
 


 .modal-open-everybody,
 .modal-open-website,
  .modal-open-application,
 .modal-open-dising,
 .modal-open-marketing 
 
 {  
 
  height:38px;
  border-radius: 4px;

font-family:Roboto, Raleway, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;

color:var(--accent-color);
 background:var(secondary-background-color-theme-light);
}
.modal-open-everybody{width: 73px;}
.modal-open-everybody:hover,:focus
  { height: 38px;width: 73px;
  
    
/* 
shadow-middle

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
/* border-radius: 4px; */
        color:var(--primary-text-color-theme-dark);
        background:var(--primary-text-color-theme-light); 
}
.modal-open-website{width: 125px;}
.modal-open-website:hover,:focus
{  
      color:var(--primary-text-color-theme-dark);
      background:var(--primary-text-color-theme-light);
}
.modal-open-application {width: 112px;}
.modal-open-application:hover,:focus
{  
      color:var(--primary-text-color-theme-dark);
      background:var(--primary-text-color-theme-light);
} 
.modal-open-dising{width: 103px;}
.modal-open-dising:hover,:focus
{ color:var(--primary-text-color-theme-dark);
  background:var(--primary-text-color-theme-light);}

  .modal-open-marketing {width: 130px;}
.modal-open-marketing:hover,:focus
{ color:var(--primary-text-color-theme-dark);
  background:var(--primary-text-color-theme-light);}

  .button {
   border-width: 0px;
   }

    


.page-benefits
{
  display: flex;
  align-content: center;
  gap: 30px;

}

.item-page-benefits 
{
  font-weight: 700;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
   height: 72;
   width: 270px;
  
}
  

.note-benefits
 { margin-top:10px; 
 
    font-weight: 400;
    font-size: 14px;
    line-height:1.7;
   color:var(--secondary-text-color-theme-light);
  
}


 

  .team
{  display: flex;
   text-align: center;
  gap: 30px;
  background: var(--secondary-background-color-theme-light);
 
}


.item-team{
 
  width: 270px;
 
  background: var(--primary-text-color-theme-dark);
}
   
.team-liter 
{

  font-size: 36px;
  line-height:1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  
  color:var(--accent-color)

}       

    .team-name
     { 
       font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
   

    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.03em;
   color:var(--accent-color);
   
   background:var(--primary-text-color-theme-dark);
  }
  
    
.team-speciality
{   
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
     margin-top:  10px;
      color:var(--secondary-text-color-theme-light);
  }



 .menu-link
 {       font-weight: 500;
    font-family:Roboto,sans-serif;
     color:var(--accent-color);
}

  .contakt-email
  {font-weight: 500;
    color: var(--accent-color)
   }
   .contakt-email:hover,:focus
   {
   
    color:var(--primary-text-color-theme-light);
   }


  .contakt-stil
  { 
   color:var(--primary-text-color-theme-light);
  }
  
  .contakt-stil:hover,:focus
   { 
    color: var(--accent-color)
  }

  .contakt-phone-number
   {
    color:var(--secondary-text-color-theme-light);
  }
   /* =======footer============   */
     
    .foot-list 
  {
    font-style: normal;   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  
   color:var(--primary-text-color-theme-dark); 
  }
   .foot 

  {  padding-top: 60px;
    padding-bottom:60px;
    align-content: center;    
  background-color: #2F303A;
  
  }
 


    .tel-port
    {
      font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
     

    }
   
   
   /* Портфоліо */

   
   .box 
   {
  height:   80px;
border-bottom:1px solid#ECECEC; 
 


}


       .flex-container 
        { 
      display: flex; 
      flex-wrap:wrap;
    align-content: center;    
    gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
    }  
        


  
  
.flex-element
{ 
  width: 370px;



}
.flex-element:focus
{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-name
 {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color:var(--accent-color);
margin-top: 20px ;
margin-bottom: 4px;}

.card-speciality
{

font-weight: 400;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.03em;

color:var(--secondary-text-color-theme-light);
 margin-top: 4px ;
margin-bottom: 20px;}




.log-name
{
  margin-top:20px;
gap: 9px;
display: flex;
flex-direction: column;
}

.card-bottom

{
 padding-left: 24px;
 padding-right: 24px;
 padding-top: 20;
 padding-bottom: 20;
 }

a{text-decoration: none;}